{% extends 'base_generic.html' %} {% block title %} {{event.title}} 
{% endblock title %} {% block content %} {% load leaflet_tags %} {% leaflet_css %} 
{% leaflet_js %}

<div class="row event-detail">
  <div class="col-md-6">
    <div class="header">
      <div class="info">
        <h1>{{event.title}}</h1>
        <p>{{event.place.address}}, {{event.place.city}}</p>
      </div>
      <div class="actions">
        <div class="wrapper"><a href="{% url 'edit-event' event.pk %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg></a></div>
        <div class="wrapper"><a href="{% url 'delete-event' event.pk %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg></a></div>
      </div>
    </div>

    <div class="tags">

        {% for tag in event.tags.all %}
            
                <p>{{tag}}</p>
            
        {% endfor %}

    </div>

    <div class="time-slots">
      {% for eventtime in event.eventtime_set.all %}

      <div class="time-slot">
       
        <div class="content">
          <div class="time-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#585858"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"
              />
            </svg>
  
            <p>Date: <span> {{eventtime.event_date}} </span></p>
            
          </div>
  
          {% if eventtime.all_day %}
  
          <div class="time-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#585858"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"
              />
            </svg>
  
            <p><span> All Day </span></p>
          </div>
  
          {% else %}
  
          <div class="time-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#585858"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"
              />
            </svg>
  
            <p>Start: <span> {{eventtime.from_time}} </span></p>
          </div>
  
          <div class="time-info">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 0 24 24"
              width="24px"
              fill="#585858"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"
              />
            </svg>
  
            <p>End: <span> {{eventtime.end_time}} </span></p>
          </div>
  
          {% endif %}
  
        </div>


        <div class="actions">
          <div class="wrapper"><a href="{% url 'edit-event-timings' event.pk eventtime.pk %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg></a></div>
          <div class="wrapper"><a href="{% url 'delete-event-timings' event.pk eventtime.pk %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg></a></div>
        </div>

      </div>

      {% endfor %}
    </div>
  </div>

  <div class="col-md-6 map-wrapper">
      
    <div class="map"> <h4>Location</h4> {% leaflet_map "main" callback="map_init" %}</div>
  </div>
</div>

<script type="text/javascript">
  function map_init(map, options) {
    // get point lat and lon
    var lon = "{{ event.place.location.x }}";
    var lat = "{{ event.place.location.y }}";

    // zoom to point & add it to map
    map.setView([lat, lon], 12);
    L.marker([lat, lon]).addTo(map);
  }
</script>

{% endblock content %}
