{% extends 'base_generic.html' %} {% block content %}

<div class="events row">
  <div class="col-md-12 header">
    <h2>Events</h2>
    <a href="{% url 'add-event' %}"> Add Event </a>
  </div>

  <form method="GET" class="filter_form">
    <div class="row">
      <div class="col-md-3">
        <p>Title</p>
        {{filter.form.title__icontains}}
      </div>

      <div class="col-md-2">
        <p>Event Date</p>
        {{filter.form.date}}
      </div>

      <div class="col-md-2">
        <p>Event Month</p>
        {{filter.form.month}}
      </div>

      <div class="col-md-3">
        <p>Event Year</p>
        {{filter.form.year}}
      </div>

      <div class="col-md-2">
        <button type="submit">Search</button>
      </div>
    </div>
  </form>

  {% if filter.qs %} {% for event in filter.qs %}

  <div class="col-md-6">
    <div class="event">
      <div class="info">
        <h4>{{event.title}}</h4>
        <i>{{event.place.address}}, {{event.place.city}}</i>
      </div>
      <div class="action">
        <a href="{% url 'event-detail' event.pk %}">View Event</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% else %}

<div class="not-found-wrapper">
  <p>No events found</p>
  <a href="{% url 'add-event' %}">Add Event</a>
</div>

{% endif %} {% endblock content %}
