@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.logout-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logout-wrapper a {
  background-color: #db4437;
  padding: 6px 12px;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 20px;
}

.user-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-wrapper p {
  margin: 0;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 2px;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-nav li a {
  margin: 0 2.3rem;
  color: #424242;
  font-weight: 600;
}

.padding-top-1 {
  padding-top: 1rem;
}

.pagination {
  margin: 30px 0;
}

.pagination .page-links .wrapper,
.pagination .page-links span {
  margin: 0px 10px;
}

.pagination .page-links .wrapper {
  width: 30px;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  border-radius: 50%;
}

.pagination .page-links {
  display: flex;
  align-items: center;
}

.pagination .page-links a {
  color: #fff;
  font-weight: 600;
  line-height: 0;
}

input,
textarea {
  outline: none;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #dadada;
}

button,
input[type="submit"],
input[type="button"] {
  outline: none;
  border: none;
  background-color: #585858;
  padding: 10px 25px;
  margin: 30px 0;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.not-found-wrapper {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found-wrapper p {
  text-align: center;
}

.not-found-wrapper a {
  padding: 8px 30px;
  background-color: #0f9d58;
  color: #fff;
  font-weight: 600;
}

.events .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.events .header a {
  padding: 10px 20px;
  background-color: #0f9d58;
  color: #fff;
  font-weight: 600;
}

.events .event {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.events .event .info h4 {
  font-size: 1.2rem;
}

.events .event .info i {
  font-size: 0.8rem;
}

.events .event .action a {
  background-color: #0f9d58;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}

.events .event .action a:hover {
  text-decoration: none;
}

.event-detail .header h1 {
  font-size: 2rem;
}

.event-detail .tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event-detail .tags p {
  color: #fff;
  font-weight: 500;
  background-color: #0f9d58;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin: 10px 15px 10px 0px;
}

.event-detail .header p {
  font-size: 1rem;
  color: #585858;
  margin-bottom: 0;
}

.event-detail .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event-detail .header .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event-detail .header .actions .wrapper,
.event-detail .time-slot .actions .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0px 5px;
}

.event-detail .time-slot .actions .wrapper {
  margin: 5px 0;
}

.event-detail .header .actions .wrapper:nth-child(1),
.event-detail .time-slot .actions .wrapper:nth-child(1) {
  background-color: #0f9d582b;
  border: 1px solid #0f9d58;
}

.event-detail .header .actions .wrapper:nth-child(1) a,
.event-detail .header .actions .wrapper:nth-child(2) a,
.event-detail .time-slot .actions .wrapper:nth-child(1) a,
.event-detail .time-slot .actions .wrapper:nth-child(2) a {
  margin-bottom: 2px;
}

.event-detail .header .actions .wrapper:nth-child(2),
.event-detail .time-slot .actions .wrapper:nth-child(2) {
  background-color: #db44372b;
  border: 1px solid #db4437;
}

.event-detail .header .actions a svg {
  width: 20px;
  height: 20px;
}

.event-detail .time-slot .actions a svg {
  width: 15px;
  height: 15px;
}

.event-detail .time-slots .time-slot {
  padding: 12px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.event-detail .time-slots .time-slot {
  display: flex;
  justify-content: space-between;
}

.event-detail .time-slots .time-slot .time-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.event-detail .time-slots .time-slot .time-info svg {
  width: 20px;
  height: 20px;
}

.event-detail .time-slots .time-slot .time-info p {
  margin: 0;
  color: #585858;
  margin-left: 10px;
  font-size: 0.9rem;
}

.event-detail .time-slots .time-slot .time-info p span {
  font-weight: 500;
}

.event-detail .map-wrapper .map {
  margin-top: 5rem;
}

.event-detail .map-wrapper .map h4 {
  margin-bottom: 20px;
}

.add-event-form .inputs .input-wrapper {
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
}

.add-event-form .inputs .input-wrapper input {
  margin: 0;
  margin-bottom: 30px;
}
